* {
    font-family: 'Calibri';
}

body {
    margin: 0;
    background: #ffffff;
}

#background-image {
    position: fixed;
    display: inline;
    filter: blur(10px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    position: fixed;
    width: max-content;
    height: 14vh;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 0.2s;
}

#logo img {
    position: relative;
    width: auto;
    height: 100%;
}

#logo p {
    position: relative;
    display: inline;
    font-size: 14vh;
    top: -15%;
    color: #222222;
    font-weight: 600;
    user-select: none;
}

#download {
    position: fixed;
    width: calc(36vh);
    height: 6vh;
    left: calc(50vw - 36vh / 2);
    top: calc(50vh - 3px - 6vh);
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #22aa22;
    color: #eeeeee;
    font-size: 4vh;
    font-weight: 600;
    transition-duration: 0.2s;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
#download {
    position: fixed;
    width: calc(44vh - 14vh);
    height: 6vh;
    left: calc(50vw - 44vh / 2);
    top: calc(50vh - 3px - 6vh);
    border: 2px solid #000000;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #22aa22;
    color: #eeeeee;
    font-size: 4vh;
    font-weight: 600;
    transition-duration: 0.2s;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
*/

#download:hover {
    background-color: #22cc22;
}

#download:disabled {
    background-color: #666666;
    cursor: default;
}

#platforms-button {
    position: fixed;
    width: 14vh;
    height: 6vh;
    left: calc(50vw + 44vh / 2 - 14vh);
    top: calc(50vh - 3px - 6vh);
    border: 2px solid #000000;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #229922;
    color: #eeeeee;
    font-size: 4vh;
    font-weight: 600;
    transition-duration: 0.2s;
    cursor: pointer;
}

#platforms-button:hover {
    background-color: #22aa22;
}

#platforms-button:disabled {
    background-color: #666666;
    cursor: default;
}

#platforms {
    position: fixed;
    width: calc(14vh - 4px);
    height: auto;
    padding-bottom: 0.5vh;
    left: calc(50vw + 44vh / 2 - 14vh);
    top: calc(50vh - 2px);
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #222222;
    color: #eeeeee;
    font-size: 4vh;
    font-weight: 600;
    transition-duration: 0.2s;
}

.platform {
    position: relative;
    display: block;
    width: calc(100% - 1vh);
    height: 5vh;
    margin: 0.5vh 0.5vh 0 0.5vh;
    border: none;
    border-radius: 8px;
    background-color: #222222;
    color: #eeeeee;
    font-size: 4vh;
    font-weight: 600;
    transition-duration: 0.2s;
    cursor: pointer;
}

.platform:hover {
    background-color: #333333;
}

.platform:disabled {
    cursor: default;
}